[submodule "argument-parser"]
	path = modules/argument-parser
	url = https://github.com/bash-utilities/argument-parser.git
	branch = master
[submodule "trap-failure"]
	path = modules/trap-failure
	url = https://github.com/bash-utilities/trap-failure.git
	branch = master
[submodule "array-splice"]
	path = modules/array-splice
	url = https://github.com/bash-utilities/array-splice.git
	branch = main
